mixin btn-with-arrow()
    .btn-with-arrow.js-animate-icon
        span.btn-with-arrow__icons
            span.btn-with-arrow__icon.base
                +icon('arrow-up-right')
            span.btn-with-arrow__icon.clone
                +icon('arrow-up-right')