.team {
  position: relative;
  margin-bottom: 90px;
  @include mq("tablet") {
    margin-bottom: 130px;
  }
  .swiper-button-next {
    position: absolute;
    right: 0;
    bottom: 32px;
    @include mq("tablet") {
      display: none;
    }
  }
  .swiper-button-prev {
    position: absolute;
    left: 0;
    bottom: 32px;
    @include mq("tablet") {
      display: none;
    }
  }
}
.team-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  @include mq("tablet") {
    text-align: left;
    font-size: 18px;
  }
  &__name {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
    @include mq("tablet") {
      font-size: 20px;
      text-align: left;
    }
  }

  &__position {
    margin-bottom: 12px;
  }

  &__expiriense {
    opacity: .7;
  }
}