mixin footer()
    .footer
        .container
            img.footer__logo(src="img/logo.svg" alt="logo")
            .footer__copyright © 2024. Все права защищены
            a.footer__policy(href="#") Политика конфиденциальности