.stock {
  margin-bottom: 90px;
  @include mq("tablet") {
    margin-bottom: 220px;
  }
  &__container {
    background-color: #FDEEEF;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    @include mq("tablet-small") {
      flex-direction: row;
    }
    @include mq("tablet") {
      padding: 48px;

    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .btn {
      width: fit-content;
    }
  }
  &__title {
    font-size: 28px;
    color: $grey;
    margin: 0 0 30px;
    flex-grow: 1;
    @include mq("tablet-small") {
      font-size: 44px;
      margin: 0;
    }
  }
}
.stock-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @include mq("tablet") {
    flex-direction: row;
  }
  &:not(:last-child) {
    .stock-item__content {
      padding-bottom: 50px;
      border-bottom: 2px dashed $primary-color;
    }
  }
  &__content {
    @include mq("tablet") {
      flex-grow: 1;
      margin-left: 28px;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__img {
    mask: url(../img/star.svg) no-repeat center;
    max-width: 100%;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
    @include mq("tablet") {
      font-size: 26px;
    }
  }
  &__desc {
    font-size: 16px;
    opacity: .7;
    margin-bottom: 26px;
    @include mq("tablet") {
      font-size: 18px;
    }
  }
  .btn {
    width: 100%;
  }
}