mixin features()
    section.features
        .container.features__container
            .features__item
                +icon("check-square")
                .features__item-content
                    .features__item-title Дизайн-проект в подарок
                    .features__item-description.
                        Технический проект в 3х вариантах бесплатно
            .features__item
                +icon("check-square")
                .features__item-content
                    .features__item-title Замер и смета бесплатно
                    .features__item-description.
                        Замерщик приедет в удобное для вас время
            .features__item
                +icon("check-square")
                .features__item-content
                    .features__item-title Четкие сроки в договоре
                    .features__item-description.
                        В случае просрочки платим неустойку
            .features__item
                +icon("check-square")
                .features__item-content
                    .features__item-title Экономия от 10%
                    .features__item-description.
                        За счёт собственных бригад, транспорта и большого опыта
            .features__item
                +icon("check-square")
                .features__item-content
                    .features__item-title Рассрочка
                    .features__item-description.
                        Поэтапная оплата вашего ремонта